<!--
  $$$$$$$$$$$$$$$$$$               $$     $$    $$        $$$$$$$$$$$$$$$$$$
  $$              $$                $$    $$  $$          $$              $$
  $$$$$$$$$$$$$$$$$$                 $$  $$ $$            $$$$$$$$$$$$$$$$$$
  $$              $$                    $$$               $$              $$
  $$$$$$$$$$$$$$$$$$                  $$  $$              $$$$$$$$$$$$$$$$$$
                                    $$      $$           $$       $$
  $$ $$$$$$$$$$$$$$$$             $$         $$         $$  $$$$$$$$$$$$$$
 $$   $$    $$    $$                                   $$         $$
     $$    $$    $$              $$     $$    $$              $$$$$$$$$$$
    $$    $$    $$                $$    $$  $$                    $$
         $$    $$                  $$  $$ $$             $$$$$$$$$$$$$$$$$$$$$$
              $$                     $$$
             $$                     $$  $$
                                  $$      $$
                                $$         $$
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <%%- linkTags %>
  <%%- styleTags %>
</head>
<body>
<div id="root"><%%- appString %></div>
<script type="text/javascript" src="/static/js/vendor.dll.js"></script>
<%%- scriptTags %>
</body>
</html>

